.header {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: white;
}

.searcButton {
  padding: 0px 0px;
  margin-right: 5px;
}

searcButton:hover,
searcButton:focus {
  border: none;
  outline: none;
}

.input {
  border: none;
  outline: none;
}
